# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDE/editor files
.vscode/
.idea/

# dotenv secrets
.env

# Ignore all contents inside csv_files and txt
csv_files/*
txt/*

# But keep the folders
!csv_files/.gitkeep
!txt/.gitkeep

